<!DOCTYPE html>
<html>
<head>
    <title></title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
    /*
    Image credits:
    uifaces.com (http://uifaces.com/authorized)
*/
body{
  background: url(b1.jpg) no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover; }
}
#login { display: none; }
.login,
.logout { 
    position: absolute; 
    top: -3px;
    right: 0;
}
.page-header { position: relative; 
border-bottom:none !important;
}
.reviews {
    color: #555;    
    font-weight: bold;
    margin: 10px auto 20px;
}
.notes {
    color: #999;
    font-size: 12px;
}
.media .media-object { max-width: 120px; }
.media-body { position: relative; }
.media-date { 
    position: absolute; 
    right: 25px;
    top: 25px;
}
.media-date li { padding: 0; }
.media-date li:first-child:before { content:'';}
.media-date li:before { 
    content: '.'; 
    margin-left: -2px; 
    margin-right: 2px;
}
.media-comment { margin-bottom: 20px; }
.media-replied { margin: 0 0 20px 50px; }
.media-replied .media-heading { padding-left: 6px; }

.btn-circle {
    font-weight: bold;
    font-size: 12px;
    padding: 6px 15px;
    border-radius: 20px;
}
.btn-circle span { padding-right: 6px; }
.embed-responsive { margin-bottom: 20px; }
.tab-content {
    padding: 50px 15px;
   /* border: 1px solid #ddd;*/
    border-top: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.custom-input-file {
    overflow: hidden;
    position: relative;
    width: 120px;
    height: 120px;
    background: #eee url('https://s3.amazonaws.com/uifaces/faces/twitter/walterstephanie/128.jpg');    
    background-size: 120px;
    border-radius: 120px;
}
input[type="file"]{
    z-index: 999;
    line-height: 0;
    font-size: 0;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);-ms-filter: "alpha(opacity=0)";
    margin: 0;
    padding:0;
    left:0;
}
.uploadPhoto {
    position: absolute;
    top: 25%;
    left: 25%;
    display: none;
    width: 50%;
    height: 50%;
    color: #fff;    
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;    
    background-color: rgba(0,0,0,.3);
    border-radius: 50px;
    cursor: pointer;
}
.custom-input-file:hover .uploadPhoto { display: block; }
#diamond {
    width: 120px;
    /*height: 120px;*/
    background: #1eff00;
/* Rotate */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-32deg);
/* Rotate Origin */
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    margin: 50px 0 10px 65px;
}
.marginleft11{margin-left:11%;}
.marginleftN60{margin-left:-60%;}
.colorwhite{color:white;}
.nav-tabs {
    border-bottom: none !important;}
    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
      background-color: black !important;
    }
</style>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1" id="logout">
    <form method="post" action="/logout">
        <div class="page-header">
            <h3 class="reviews colorwhite">Leave your comment</h3>
            <div class="logout">
                <button class="btn btn-default btn-circle text-uppercase" type="submit">
                    <span class="glyphicon glyphicon-off"></span> Logout                    
                </button>                
            </div>
        </div>
        </form>
        <div class="comment-tabs">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active colorwhite"><a href="#comments-logout" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize" style="color:white!important;">Comments</h4></a></li>
                <li><a href="#add-comment" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize colorwhite">POST</h4></a></li>
                <li><a href="#account-settings" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize colorwhite">Account settings</h4></a></li>
            </ul> 

          <!-- added code -->
            
        <%  for(i=0; i<=c; i++) { %>          
                                        
   


            <div class="tab-content">
                <div class="tab-pane active" id="comments-logout">                
                    <ul class="media-list">
                      <li class="media">
                         <div id="diamond">
                        <a class="pull-left marginleftN60" href="#">
                          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/kurafire/128.jpg" alt="profile">
                        </a>
                       </div>
           
                      
                        <div class="media-body">
                          <div class="well well-lg marginleft11">
                              <h4 class="media-heading text-uppercase reviews"> Hari </h4>
                              <ul class="media-date text-uppercase reviews list-inline">
                          <li class="dd"><%= day; %></li>
                          <li class="mm"><%= month; %></li>
                          <li class="aaaa"><%= year; %></li>
                              </ul>
                              <p class="media-comment">
                               <% postsuser[i] %>
                               
                              </p>
                              
                              <a class="btn btn-info btn-circle text-uppercase" data-toggle="collapse" href="#nestedreply"><span class="glyphicon glyphicon-share-alt"></span>Reply</a>

                              <a class="btn btn-warning btn-circle text-uppercase" data-toggle="collapse" href="#replyOne"><span class="glyphicon glyphicon-comment"></span> 2 comments</a>

                          </div>              
                        </div>
                        
                        <div class="collapse" id="nestedreply">
                     <div class="media media-replied block" id="block">
                                    <a class="pull-left " href="#">
                                      <img class="media-object img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/ManikRathee/128.jpg" alt="profile">
                                    </a>
                                    <div class="media-body">
                                      <div class="well well-lg">
                                        <h4 class="media-heading text-uppercase reviews"><span class="glyphicon glyphicon-share-alt"></span> <%= username; %> </h4></input>
                                          <ul class="media-date text-uppercase reviews list-inline">
                                            <li class="dd"><%= day; %></li>
                                            <li class="mm"><%= month; %></li>
                                            <li class="aaaa"><%= year; %></li>
                                          </ul>

                                          <p class="media-comment"><textarea class="form-control" name="addComment" id="addComment" rows="5" placeholder="post your comment here"></textarea>
                                            
                                          </p>

                                         <button class="btn btn-success btn-circle text-uppercase" type="submit" id="submitcomment" onclick="submitcomment()"><span class="glyphicon glyphicon-send"></span> Summit comment</button>

                                      </div>              
                                    </div>
                                </div>
                          </div>

                          <div class="collapse" id="replyOne">
                            <ul class="media-list">
                                <li class="media media-replied">
                                    <a class="pull-left " href="#">
                                      <img class="media-object img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/ManikRathee/128.jpg" alt="profile">
                                    </a>
                                    <div class="media-body">
                                      <div class="well well-lg">
                                          <h4 class="media-heading text-uppercase reviews"><span class="glyphicon glyphicon-share-alt"></span> The Hipster</h4>
                                          <ul class="media-date text-uppercase reviews list-inline">
                                         <li class="dd"><%= day; %></li>
                                            <li class="mm"><%= month; %></li>
                                            <li class="aaaa"><%= year; %></li>
                                          </ul>
                                          <p class="media-comment">
                                            Nice job Maria.
                                          </p>

                                          <a class="btn btn-info btn-circle text-uppercase" data-toggle="collapse" href="#nestedreply"><span class="glyphicon glyphicon-share-alt"></span>Reply</a>

                                      </div>              
                                    </div>
                                </li>
                                <li class="media media-replied" id="replied">
                                    <a class="pull-left" href="#">
                                      <img class="media-object img-circle" src="https://pbs.twimg.com/profile_images/442656111636668417/Q_9oP8iZ.jpeg" alt="profile">
                                    </a>
                                    <div class="media-body">
                                      <div class="well well-lg">
                                          <h4 class="media-heading text-uppercase reviews"><span class="glyphicon glyphicon-share-alt"></span> Mary</h4></h4>
                                          <ul class="media-date text-uppercase reviews list-inline">
                                           <li class="dd"><%= day; %></li>
                                            <li class="mm"><%= month; %></li>
                                            <li class="aaaa"><%= year; %></li>
                                          </ul>
                                          <p class="media-comment">
                                            Thank you Guys!
                                          </p>
                                          <a class="btn btn-info btn-circle text-uppercase" data-toggle="collapse" href="#nestedreply"><span class="glyphicon glyphicon-share-alt"></span>Reply</a>
                                      </div>              
                                    </div>
                                </li>
                            </ul>  
                        </div>
                      </li>          
                    </li>
                    </ul> 
                </div> 

</div>

       <% } %>

          <!-- added code end -->




            




            <!-- <%  for(i=0; i<=c; i++) { %> -->
           <!--  <div class="tab-content">
                <div class="tab-pane active" id="comments-logout">                
                    <ul class="media-list">
                      <li class="media">
                         <div id="diamond">
                        <a class="pull-left marginleftN60" href="#">
                          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/kurafire/128.jpg" alt="profile">
                        </a>
                       </div>
           
                      
                        <div class="media-body">
                          <div class="well well-lg marginleft11">
                              <h4 class="media-heading text-uppercase reviews">Marco </h4>
                              <ul class="media-date text-uppercase reviews list-inline">
                          <li class="dd"><%= day; %></li>
                          <li class="mm"><%= month; %></li>
                          <li class="aaaa"><%= year; %></li>
                              </ul>
                              <p class="media-comment">
                                Great ! 
                              </p>
                              
                              <a class="btn btn-info btn-circle text-uppercase" data-toggle="collapse" href="#nestedreply"><span class="glyphicon glyphicon-share-alt"></span>Reply</a>

                              <a class="btn btn-warning btn-circle text-uppercase" data-toggle="collapse" href="#replyOne"><span class="glyphicon glyphicon-comment"></span> 2 comments</a>

                          </div>              
                        </div> -->
                        
                       <!--  <div class="collapse" id="nestedreply">
                     <div class="media media-replied block" id="block">
                                    <a class="pull-left " href="#">
                                      <img class="media-object img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/ManikRathee/128.jpg" alt="profile">
                                    </a>
                                    <div class="media-body">
                                      <div class="well well-lg">
                                        <h4 class="media-heading text-uppercase reviews"><span class="glyphicon glyphicon-share-alt"></span> <%= username; %> </h4></input>
                                          <ul class="media-date text-uppercase reviews list-inline">
                                            <li class="dd"><%= day; %></li>
                                            <li class="mm"><%= month; %></li>
                                            <li class="aaaa"><%= year; %></li>
                                          </ul>

                                          <p class="media-comment"><textarea class="form-control" name="addComment" id="addComment" rows="5" placeholder="post your comment here"></textarea>
                                            
                                          </p>

                                         <button class="btn btn-success btn-circle text-uppercase" type="submit" id="submitcomment" onclick="submitcomment()"><span class="glyphicon glyphicon-send"></span> Summit comment</button>

                                      </div>              
                                    </div>
                                </div>
                          </div>
 -->
                       <!--  <div class="collapse" id="replyOne">
                            <ul class="media-list">
                                <li class="media media-replied">
                                    <a class="pull-left " href="#">
                                      <img class="media-object img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/ManikRathee/128.jpg" alt="profile">
                                    </a>
                                    <div class="media-body">
                                      <div class="well well-lg">
                                          <h4 class="media-heading text-uppercase reviews"><span class="glyphicon glyphicon-share-alt"></span> The Hipster</h4>
                                          <ul class="media-date text-uppercase reviews list-inline">
                                         <li class="dd"><%= day; %></li>
                                            <li class="mm"><%= month; %></li>
                                            <li class="aaaa"><%= year; %></li>
                                          </ul>
                                          <p class="media-comment">
                                            Nice job Maria.
                                          </p>

                                          <a class="btn btn-info btn-circle text-uppercase" data-toggle="collapse" href="#nestedreply"><span class="glyphicon glyphicon-share-alt"></span>Reply</a>

                                      </div>              
                                    </div>
                                </li>
                                <li class="media media-replied" id="replied">
                                    <a class="pull-left" href="#">
                                      <img class="media-object img-circle" src="https://pbs.twimg.com/profile_images/442656111636668417/Q_9oP8iZ.jpeg" alt="profile">
                                    </a>
                                    <div class="media-body">
                                      <div class="well well-lg">
                                          <h4 class="media-heading text-uppercase reviews"><span class="glyphicon glyphicon-share-alt"></span> Mary</h4></h4>
                                          <ul class="media-date text-uppercase reviews list-inline">
                                           <li class="dd"><%= day; %></li>
                                            <li class="mm"><%= month; %></li>
                                            <li class="aaaa"><%= year; %></li>
                                          </ul>
                                          <p class="media-comment">
                                            Thank you Guys!
                                          </p>
                                          <a class="btn btn-info btn-circle text-uppercase" data-toggle="collapse" href="#nestedreply"><span class="glyphicon glyphicon-share-alt"></span>Reply</a>
                                      </div>              
                                    </div>
                                </li>
                            </ul>  
                        </div>
                      </li>          
                    </li>
                    </ul> 
                </div> -->
               <!--  <% } %> -->





<!-- <div class="tab-pane" id="add-comment">
<div class="media media-replied block" id="block">
<form method="post" action="/stick">
                                    <a class="pull-left " href="#">
                                      <img class="media-object img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/ManikRathee/128.jpg" alt="profile">
                                    </a>
                                    <div class="media-body">
                                      <div class="well well-lg">
                                        <h4 class="media-heading text-uppercase reviews"><span class="glyphicon glyphicon-share-alt"></span> <%= username; %></h4>
                                          <ul class="media-date text-uppercase reviews list-inline">
                                      <li class="dd"><%= day; %></li>
                                            <li class="mm"><%= month; %></li>
                                            <li class="aaaa"><%= year; %></li>
                                          </ul>

                                          <p class="media-comment"><textarea class="form-control" name="postmsg" id="addComment" rows="5" placeholder="post your comment here"></textarea>
                                            
                                          </p>

                                         <button class="btn btn-success btn-circle text-uppercase" type="submit" id="submitcomment"><span class="glyphicon glyphicon-send"></span> POST</button>

                                      </div>              
                                    </div>
                                </div>
                                </div> -->











                <!-- <div class="tab-pane" id="add-comment">
                    <form action="#" method="post" class="form-horizontal" id="commentForm" role="form"> 
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">Comment</label>
                            <div class="col-sm-10">
                              <textarea class="form-control" name="addComment" id="addComment" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="uploadMedia" class="col-sm-2 control-label">Upload media</label>
                            <div class="col-sm-10">                    
                                <div class="input-group">
                                  <div class="input-group-addon">http://</div>
                                  <input type="text" class="form-control" name="uploadMedia" id="uploadMedia">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">                    
                                <button class="btn btn-success btn-circle text-uppercase" type="submit" id="submitComment"><span class="glyphicon glyphicon-send"></span> Summit comment</button>
                            </div>
                        </div>            
                    </form>
                </div> -->
               <!--  <div class="tab-pane" id="account-settings">
                    <form action="#" method="post" class="form-horizontal" id="accountSetForm" role="form">
                        <div class="form-group">
                            <label for="avatar" class="col-sm-2 control-label">Avatar</label>
                            <div class="col-sm-10">                                
                                <div class="custom-input-file">
                                    <label class="uploadPhoto">
                                        Edit
                                        <input type="file" class="change-avatar" name="avatar" id="avatar">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" name="name" id="name" placeholder="Vilma palma">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="nickName" class="col-sm-2 control-label">Nick name</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" name="nickName" id="nickName" placeholder="Vilma">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                              <input type="email" class="form-control" name="email" id="email" placeholder="vilma@mail.com">
                            </div>
                        </div>  
                        <div class="form-group">
                            <label for="newPassword" class="col-sm-2 control-label">New password</label>
                            <div class="col-sm-10">
                              <input type="password" class="form-control" name="newPassword" id="newPassword">
                            </div>
                        </div> 
                        <div class="form-group">
                            <label for="confirmPassword" class="col-sm-2 control-label">Confirm password</label>
                            <div class="col-sm-10">
                              <input type="password" class="form-control" name="confirmPassword" id="confirmPassword">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">                    
                                <button class="btn btn-primary btn-circle text-uppercase" type="submit" id="submit">Save changes</button>
                            </div>
                        </div>            
                    </form>
                </div>
            </div>
        </div>
  </div>
  </div> -->
 </div>
 <script>
       function submitcomment(){
        alert("working");
        var commentdiv=document.createElement('div');
         commentdiv.id='block';
         commentdiv.className = 'block';
         document.getElementById.appendChild(commentdiv);
    }
 </script>
</body>
</html>


                                  
                             